.navlink__page-names {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}
.navlink__page-title {
    font-weight: 400;
    font-size: 13px;
    line-height: 1.35;
    color: #000000;
    margin: 0 16px 0 0;
    text-decoration: none;
    transition: 0.2s;
}
.navlink__page-title:hover {
    transform: scale(1.02);
    opacity: 0.8;
}
.navlink__page-title:active {
    transform: scale(0.99);
    opacity: 1;
}
.navlink__page-name {
    font-weight: 400;
    font-size: 13px;
    line-height: 1.35;
    color: #000000;
    margin: 0;
    text-decoration: none;
    transition: 0.2s;
}
.navlink__page-name:hover {
    transform: scale(1.02);
    opacity: 0.8;
}
.navlink__page-name:active {
    transform: scale(0.99);
    opacity: 1;
}

.navlink__user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}
.navlink__register {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.35;
    align-items: center;
    color: #000000;
    margin: 0 30px 0 0;
    text-decoration: none;
    transition: 0.2s;
}
.navlink__register:hover {
    transform: scale(1.05);
    opacity: 0.7;
}
.navlink__register:active {
    transform: scale(0.99);
    opacity: 1;
}
.navlink__signin {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3456F3;
    border-radius: 3px;
    width: 76px;
    height: 32px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.35;
    color: #FFFFFF;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
    text-decoration: none;
    transition: 0.2s;
}
.navlink__signin:hover {
    transform: scale(1.02);
    opacity: 0.8;
}
.navlink__signin:active {
    transform: scale(0.99);
    opacity: 1;
}
.navlink__account {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    color: #000000;
    margin: 0 12px 0 0;
}
.navlink__user {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background: #F4F4F4 url('../../images/headeruser.svg') no-repeat center;
}
.navlink__page-title_active {
    font-weight: 500;
}

@media screen and (max-width: 769px) {
    .navlink__page-names {
        display: none;
    }
    .navlink__user-info {
        display: flex;
    }
    .navlink__register {
        display: flex;
    }
    .navlink__signin {
        display: flex;
    }
    .navlink__page-title_active {
        border-bottom: 1px solid #000;
    }
    .navlink__account_deactivate {
        display: none;
    }
    }
    .navlink__page-title_deactiv {
        display: none;
}

.navlink__page-names_burger {
    display: flex;
    width: 70%;
    max-height: 130px;
    height: 40%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}
.navlink__page-title_burger {
    display: flex;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: #000000;
}
.navlink__user-info_burger {
    display: flex;
    align-items: center;
}
@media screen and (max-width: 450px) {
    .navlink__register {
        font-size: 10px;
        margin: 0 14px 0 0;
    }
    .navlink__signin {
        font-size: 10px;
        width: 54px;
        height: 26px;
    }
    .navlink__account {
        font-size: 14px;
    }
    .navlink__user {
        width: 30px;
        height: 30px;
     }
}
