.footer {
    display: flex;
    width: 100%;
    max-width: 1280px;
    flex-direction: column;
    background-color: #F8F8F8;
    justify-content: space-between;
    justify-self: end;
    align-items: center;
    margin: auto 0 0 0;
    padding: 79px 70px 20px 70px;
    box-sizing: border-box;
}

.footer__subtitles {
    font-weight: 400;
    font-size: 13px;
    line-height: 1.22;
    text-align: center;
    color: #A0A0A0;
    margin: 0 0 20px;
}
.footer__yandex {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    border-top: 0.5px solid #E8E8E8;
    margin: 0;
    padding: 18px 0;
}
.footer__copyright {
    font-weight: 400;
    font-size: 13px;
    line-height: 1.22;
    color: #000000;
    margin: 0;
}
.footer__links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.footer__link {
    font-weight: 400;
    font-size: 13px;
    line-height: 1.22;
    text-align: right;
    color: #000000;
    text-decoration: none;
    transition: 0.2s;
    cursor: pointer;
}
.footer__link:hover {
    transform: scale(1.01);
    opacity: 0.8;
}
.footer__link:active {
    transform: scale(0.99);
    font-size: 14px;
    opacity: 1;
}
.footer__yandex-praktikum {
    margin: 0 20px;
}


@media screen and (max-width: 769px) {
    .footer {
        padding: 60px 30px 20px 30px;
    }
}

@media screen and (max-width: 450px) {
    .footer {
        padding: 60px 10px 10px;
    }
    .footer__subtitles {
        font-size: 12px;
    }

    .footer__yandex {
        flex-direction: column-reverse;
        padding: 29px 0 0 0;
    }
    .footer__copyright {
        font-size: 12px;
        line-height: 1.2;
         color: #A0A0A0;
    }
    .footer__links {
        flex-direction: column;
        margin: 0 0 30px 0;
    }
    .footer__link {
        font-size: 12px;

    }
    .footer__yandex-praktikum {
        margin: 0 0 8px 0;

    }

}