.not-found {
    height: 100vh;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.not-found__container {
    display: flex;
    max-height: 30vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /*justify-self: end;*/
}
.not-found__title {
    width: 100%;
    max-width: 400px;
    text-align: center;
    font-weight: 400;
    font-size: 140px;
    line-height: 1.2;
    color: #000;
    margin: 0 0 10px;
}
.not-found__text {
    display: block;
    width: 100%;
    max-width: 400px;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    color: #000;
    margin: 0 0 185px 0;

}
.not-found__back {
    max-width: 42px;
    background: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    color: #3456F3;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    margin: 0;
    bottom: 0;
}
.not-found__back:hover {
    opacity: 0.8;
}