@import url('./vendor/font/inter.css');
@import url('./vendor/normalize.css');

.body {
    background-color: #FAFAFA;
    font-family: "Inter", "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.root {
    width: 95vw; overflow-x:hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}