.auth {
    height: 100vh;
    width: 100%;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.auth__container {
    width: 100%;
    max-width: 396px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.auth__title {
    align-self: flex-start;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.22;
    color: #000000;
    margin: 0 0 40px 0;
}
.auth__form {
    width: 100%;
    height: 378px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 0 16px 0;
}
.auth__label {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.2;
    color: #A0A0A0;
    margin: 0 0 20px 0;
}
.auth__input {
    width: 100%;
    min-height: 46px;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.22;
    background: #F4F4F4;
    border-radius: 8px;
    box-sizing: border-box;
    border: none;
    color: #000000;
    outline: none;
    padding: 15px;
    margin: 10px 0 0 0;
}
.auth__input_password {
    color: #EE3465;
}
.auth__button {
    width: 100%;
    height: 45px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.22;
    color: #FFFFFF;
    background: #3456F3;
    border-radius: 3px;
    box-sizing: border-box;
    border: none;
    margin: auto 0 0 0;
    cursor: pointer;
    transition: 0.2s;
}
.auth__button:hover {
    transform: scale(1.02);
    opacity: 0.8;
}
.auth__button:active {
    transform: scale(0.99);
    opacity: 1;
}
.auth__other-link {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.auth__is-registr {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.22;
    text-align: center;
    color: #A0A0A0;
    margin: 0 6px 0 0;
}
.auth__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.22;
    text-align: center;
    text-decoration: none;
    color: #3456F3;
    margin: 0;
    transition: 0.2s;
}
.auth__link:hover {
    transform: scale(1.02);
    opacity: 0.8;
}
.auth__link:active {
    transform: scale(0.99);
    opacity: 1;
}